<div id="background">
    <img src="../assets/css/4-pages/fullsizeimages/aboutphoto.jpg" class="stretch" no-repeat center center alt="" />
    <p id="texthead">
      About
    </p>
    <p id="text">
      Hi, my name is Manuel Hamel, I’m from a small region of Belgium that is only a few minutes away from Germany and the Netherlands. Growing up in this international environment has pushed me to always give my best to address people in the language they feel most comfortable with. I already learned five languages and plan to add a sixth one to my repertoire in the future. For now, I’m fluent in German, French, Spanish and English and have a solid basis in Dutch.

      I have always been passionate about photography! I bought my first reflex in 2009 and loved to take it out for some nice shots. I also combined it with my other passion: traveling. I never miss a chance to take my camera on a trip to immortalize great moments and locations.

      In 2012, I decided that it was time for me to take it one step further and started to study photography. Just about a year later, I received my diploma with the note “excellent”!

      Since then, I’ve been working on a variety of projects.

      The most common ones for someone new in the job is definitely events and so was it for me. I acted as official photographer for a few weddings and then got booked for concerts by WOW Events and sport events (e.g. International 3 Borders Open).

      Regardless how much I enjoyed those jobs, my passion was still driving me towards a more individual experience, so I specialized in portrait and fashion photography. It is during this period that I got the great opportunity to work with a rising brand called “Girl from Paris” and some wonderful professional models.

      November 2014 was the time I decided to take a break of routine and went to see the world. I went from Asia to South-America, passing by Australia and USA. And guess which trip buddy never left my side? Right, my trusted Canon.

      The portfolio on this page includes several snapshots of my work. From artistic to commercial pictures, it presents all sorts of challenges that I love to try.

      Enjoy my work…
    </p>
</div>
