<div id="background">
    <img src="../assets/css/4-pages/fullsizeimages/aboutphoto.jpg" class="stretch" no-repeat center center alt="" />
    <p id="texthead">
      About
    </p>
    <p id="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisi lorem,
        elementum non ultrices sed, tincidunt ut velit. Integer et cursus lorem. Vestibulum mollis
        sit amet massa sed fringilla. Quisque vehicula libero ornare, condimentum augue id, facilisis ligula.
        Sed sodales vehicula odio, ut placerat magna varius id. Integer nec nulla euismod, cursus ex eu, molestie velit.
        Integer dictum sapien nec velit auctor lobortis.
    </p>
</div>
