<footer>

<div align="center"> <div class="socialmediaicons">
  <a href="http://www.instagram.com/manuel_88h"><div style="display: inline-block;"><div class="instagram">{% include icons/instagramlogo.html %}</div></div></a>
  <a href="http://www.facebook.com/ManuelHamelPhotography"><div style="display: inline-block;"><div class="facebook">{% include icons/facebooklogo.html %}</div></div></a>
  <a href="mailto:manuel@mh-photography.com?Subject=MHP%20Inquiry" target="_top"><div style="display: inline-block;"><div class="mail">{% include icons/maillogo.html %}</div></div></a>

</div></div>
</footer>
