<meta charset="utf-8">
<meta_name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="../assets/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery.cycle2.min.js"></script>
<style type="text/css">
* {padding:0; margin:0;}width: body {font-family: Sans-serif;}
img {max-width:100%}
/* cycle-slideshow */


</style>


<!-- slider -->
<div class="cycle-slideshow">
  <span class="cycle-prev">&#9001;</span>
  <span class="cycle-next">&#9002;</span>
  <span class="cycle-pager"></span>
  <img class="image01" src="../assets/css/4-pages/fullsizeimages/01.jpg">
  <img class="image02" src="../assets/css/4-pages/fullsizeimages/02.jpg">
  <img class="image03" src="../assets/css/4-pages/fullsizeimages/03.jpg">
  <img class="image04" src="../assets/css/4-pages/fullsizeimages/04.jpg">
  <img class="image05" src="../assets/css/4-pages/fullsizeimages/05.jpg">
  <img class="image06" src="../assets/css/4-pages/fullsizeimages/06.jpg">
  <img class="image07" src="../assets/css/4-pages/fullsizeimages/07.jpg">
  <img class="image08" src="../assets/css/4-pages/fullsizeimages/08.jpg">
  <img class="image09" src="../assets/css/4-pages/fullsizeimages/09.jpg">
  <img class="image10" src="../assets/css/4-pages/fullsizeimages/10.jpg">
</div>



<!-- end of slider -->
