<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 500 120" enable-background="new 0 0 500 120" xml:space="preserve">
<g id="Background_xA0_Image_1_">

		<image overflow="visible" width="500" height="120" id="Background_xA0_Image" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAAIqAAACNgAAAlr/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAHgB9AMBIgACEQEDEQH/
xABeAAEBAAAAAAAAAAAAAAAAAAAABwEBAAAAAAAAAAAAAAAAAAAAABABAQAAAAAAAAAAAAAAAAAA
gJARAQAAAAAAAAAAAAAAAAAAAJASAQAAAAAAAAAAAAAAAAAAAID/2gAMAwEAAhEDEQAAAKAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAD/2gAIAQIAAQUAAH//2gAIAQMAAQUAAH//2gAIAQEAAQUAtj//2gAI
AQICBj8AAH//2gAIAQMCBj8AAH//2gAIAQEBBj8AbH//2Q==">
	</image>
</g>
<g id="finalMHPlogo_xA0_Image_1_" opacity="0.4118">

		<image overflow="visible" width="144" height="120" id="finalMHPlogo_xA0_Image" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAAB4CAYAAAAdUXtXAAAACXBIWXMAAAsSAAALEgHS3X78AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACwNJREFUeNrsnXVsVM8XxQcp7lAo
Bb64u2sCQYpLCRLcIbgFCCEk8AcJkEBIcSnuJLgGKxrcAsWKpljwoqWU/fVMcvdXyrZlt++9faXn
k2zeo2W3+/adnbkzc++ZVA6HI0IplVUR4j6fUvMzIEmBAiIUEKGACAVEKCBCKCBCAREKiFBAhFBA
hAIiFBChgAihgAgFRCggQgERQgERCohQQCQ5kza+Xxw+fFitXbv2//8xbVq1fPlyfbQzISEhKjg4
WP369UulTp1apUqVSs2YMUMVKlTI1u953759Kk2aNIZ/vg6HQ79usWLFVKlSpVThwoVVgQIFDP0D
EQ4XTJ8+3YFfx36sWbPGYXcCAgL+eN+nT5+29XseO3bsH+/ZrEfMF8pRv359x7Rp0xyhoaFJfesR
8co9V65cf/wM3+zevXvb9pv85csXdeLECX0+YcIE/X7fvXunMmbMaOtWM2/evM5W3tfXV7caRoDW
Nzo6Wn379k19+vTJ2SKdOXNGP2JEpDp37qwmTZqkqlevbmwXJuDFS5YsqQYOHKjOnj2rIiMjVfr0
6W15IzZs2KDfX6NGjdTs2bPVggULklU8UaFCBXXhwgXDXg8CQleOzyQ8PFzdvXtX3b9/X3eX8kXb
tm2bfowbN07NmTPH+CA6d+7casCAAfr858+fKqYbs+0N2Llzpz62a9dOH/HNS04gVvHx8THsgRYt
Xbp0KmvWrKps2bKqQ4cOumVGzHXnzh01ceJElSFDBv23586dqypXrqyePHlirIBu3rypj82aNdPH
VatW2fLDxzcNgT8IDAxMliMadDdWUbp0aTVr1izdIvXs2VP/7MaNG6pKlSrq+vXrxgkoKipKH7t1
66aP58+fVx8+fLDdh79lyxbdQhYsWFAVKVJEx0MkcfB5rVu3Ti1dulT/G/e2Tp066vbt28YICENh
0Lp1a2cQduDAAdt9EMuWLdPHfv366eP79++pDjcYPHiwOnLkiD7//v27aty4sT4aNpGIkUKtWrX0
+eLFi2118WglT548qc/btGnjDCCJezRp0kTt3btXn798+dIZSxoiIDBixAh9PHXqlHr9+rWtRl+I
gYoWLeoUOQXkGehp5s2bp88RU65YscI4Acm3G2AoaBcwQx67+yJJY/To0c5B08iRIxOcl3JLQDlz
5tTNHFi0aJEtLvbz5896fip2nEaSjrQ8iIOmTp1qjIDAsGHD9PHixYvq+fPnXr/QQ4cO6SNmzqtV
q8Y7bxD//fefGjNmjD7HcB8hgiECQtMmI7ODBw96/UKlJRw6dCjvusFMnjxZHzE9Et/AyW0BYVaz
QYMG+nzTpk1evcCIiAh17Ngxfd69e3fecYPByFvWPuNbFvIoH0i6McwbPHr0yGsXKEsXSE8oV64c
77gJ9OnTRx+x9PH06VNjBNS1a1eVOXNmfb57926vXZwMNzFqIObQsGFD5+I51tAMERAICAjQR0yD
ewME8FevXtXnXbp04Z02CSzwypB+//79xglIgtbLly+r0NBQyy9MAniseyHLjphHq1at9BETyIYJ
CKrEvJC3urGNGzcyeLYIrNxLq//27VtjBARatGihj7t27bL0ghDMHT16VJ8PGTKEd9hk/P39nedI
TDNMQAimwblz59TDhw8tuyDpi0uUKKEnvIi5IKlQ5v7iroEmSUDt27dX+fLl0+exKzis6r4kEYqY
C3LKZSQWN88qyXVhsv60Z88eSy7mwYMHzmAOOSzEfJAWK6mvhgXRgmQqXrlyRU82mY0ItWLFiip/
/vy8uxaApQw8TBFQ06ZNnXGIFQn3MuJr27Yt76xFYEX+69ev+hzJ+oYKSGIhINlsZvHixQt1/Phx
fd6rVy/eWYtAerAk/MvUjSkCQgVH3GGekcisN4rgypQpwztrEfjiCn5+fsYLCIV88sJLliwx7UJk
vil2ZiQxH1kwRyZGXI8BQwSE9ZK+ffvq882bN5tyEZg8lMxDO5dX/4vIpC0GLnHNHwyzd5GgFsNs
PIxGAnTULMFpgliHDFxatmxp/ChMqFevnq6KAFKkZsZFSLxFrAFVqlJjJ6vypggISDe2detWQy8C
1ZKXLl2igLzA9u3bnfFPzZo1zRWQzEqjQD8sLMyw15UKgapVq2qTAGINmDyUVFYYM8h6mGkCwvBa
1sZQq24Uq1evZvDsBRCKwF8JTJkyxeX/MdwjUdIrjKobe/Pmjbp165Y+l8Qmd3H1zbETdqyi/fHj
h1M0iG8lJ8h0AckMMZKP5MYnBZlXqlu3rvb48wQ4UNgZpEvYDSxUf/z48bcQwhWGO2YiRwdqhRvW
ypUrPXK9chX/eFK2jJYHBXEwyMqTJ49tBQRfHju1ROvXr3dOm8CZLsG4Mz6Tzfnz52tTxh49erjt
vBgUFKSfmy1btiQ5OMYE405zyPDwcLee++zZM4ePj49l5pVGPGIGCV43/AwJCXG+Hz8/P0dUVJRn
JptJoVOnTmrUqFG68A+zx+hDPQHefQDWa55Y04opAFaQkdMiZll2AolasOKLL13CSmCRg2UpAT5Q
idkOmyIg5Omg2YPLFdJPPRVQTCuoj8OHD/d4GArwHmrUqKEDQ7uBRC0YgsLL2ih3Vk9A6bIUjAJU
HcPu7m++pYZ3YWDmzJn6+f7+/o7o6Gi3nx8WFuZsSl+9euX289GFyfMfP35sa59o+axjbpjlfztm
oOMIDAz8rSuNiV3/2ifatPHtoEGDnKMxV/VEiSHzSJj9FB9lT4lbimI3YFED0M1aBapMsXJQvnx5
tWPHDv2zTJky6dbanQGLafsWiN0KUl2RhooSWXdYuHChPoorWkoAw2aptjWiO8OoDq+DGEteG6Nj
mIzHraKBnR1mnd3dEsLUjS8wfIaAMCSM6dL+eh8IJKaJ91BKyv3BzbXa4wjza/CO9tQa2dQpWnF2
wGyy2LD8DeICiyDO1ZYLJGlggIOWHfcEo+Sk+Gqb2gLBwQPDQvS3SMcQQ4bEkEms/v37p6gbiwpQ
bDlgJLJrEVbTEUsiKax48eKGvb7pezch0QwCQjrq3+xdce3aNecSSEozzYRJxPjx45PVezZ9lRHd
GGIfJNvLVgQJIWXLsOvNkiVLihJQctvbwxIBYaEQtWOxh+YJIakbssELSeECAkhGAol5S2OrI2z+
AVj3RQE5gQkCpuxhn5+QiKRsGYG33TeJIxYKCKMxSQZLKF9aTDNZtkwB/YFs3BFfC4Tsf0wgosaM
qasU0B8g4R5T61iXkp11YoMkJoCtFOyc/EW8JCCIAhu8Aleu53TdoIASBYlmrrox1Hzdu3dPJ37R
dYwCipfmzZvrlAVsQS2bpABx3cDvc+TIwbtCAbkmW7ZszurVoKAg58+l+rFjx468IxRQwkgcJPtz
wntGPIVo20IBJQoSyzBUR34yRmTiaoaUAl9fX94RCihhEChLnhDSXoODg38LsAkFlCiSL41cXOxD
j9V6V94zhAJySe3atX/7NyYZ45o3kuRBWm/8UcxIo+wZ1mk497Tui6RQAQFkG3KbbnZhhAIihAIi
FBChgAgFRAgFRCggQgGRlCwg2R8h9l5RyQmYCgh28B9MCClpxpYOyY14lzIqVaqkKyTwSI5ghR+O
FEB2HLYr2bNn1+/VEyNRb5MKPncxx6z/WtMKZy6xjoN1G5LY7AqS6yIjI7UNC4owkxGf0qp/FKzy
Swtkd1BoYKU/IoNoQgERCogQCohQQIQCIhQQoYAIoYAIBUQoIEIBEUIBEQqIUECEAiKEAiIUEKGA
yD/E/wQYAJ7bN0Rf0JJTAAAAAElFTkSuQmCC" transform="matrix(1 0 0 1 19 0)">
	</image>
</g>
<g id="MANUEL_HAMEL_x0D_PHOTOGRAPHY">
	<rect x="173" y="22.3" fill="none" width="354" height="113.7"/>
	<text transform="matrix(0.7676 0 0 1 172.9999 52.7343)"><tspan x="0" y="0" font-family="'UniSansThinCAPS'" font-size="43" letter-spacing="6.5">MANUEL HAMEL</tspan><tspan x="0" y="49.2" font-family="'UniSansThinCAPS'" font-size="43" letter-spacing="9.1">PHOTOGRAPH</tspan><tspan x="366.4" y="49.2" font-family="'UniSansThinCAPS'" font-size="43" letter-spacing="6.5">Y</tspan></text>
</g>
</svg>
